<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/static/img/favicon.png" type="image/png">
        <title>About Us</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
<body>
        
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><h1 style="color:white">Wheeling and Dealing</h1></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
                                <li class="nav-item active"><a class="nav-link" href="/aboutus">About</a></li> 
                                
                                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            </ul>
                        </div> 
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
        
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>About Us</h2>
                   <p>Donate your unsused medicine to our registered NGO's</p>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
        <div class="container">
            <div class="row">	
                <div class="single_about row">
                    <div class="col-lg-6 col-md-12 text-center about_left">
                        <div class="about_thumb">
                            <img src="/static/img/about-img.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about_right">
						<div class="about_content">
							<h2>
								We are nonprofit team <br>
									
							</h2>
							<p>
								This application acts as a bridge between Donors and NGOs, it helps the donor to donate unused medicines to NGOs and further, these medicines are utilized by a needy person.
								 At this platform, NGOs can easily find their required donor in just a few clicks. They can easily contact each other.
							</p>
							<p>
								Some times we have extra medicine which we never going to use in the future and it gets wasted, if we donate these medicines to the needy person that will be a great thing.
								 So our application did the same job it provides Both NGOs and Donar a platform on which you can fill the details of the extra medicine like its name, company name,
								  manufacturing date, expiry date, and if you want you can upload the photo of it and further process is handled by our application to connect that donor to the needy / NGOs,
								   which they further use to save someone's life.
							</p>
							<a href="about-us.html" class="primary_btn">Learn more</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->

	<!--================Team Area =================-->
	<section class="team_area section_gap">
        <div class="container">
            <div class="main_title">
                <h2>Meet our Developer</h2>
                <p>Dream it. Wish it. Do it. </p>
            </div>
            <div class="row team_inner">
                <div class="col-lg-3 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="/static/img/voluteer/tanisha.jpg" alt="">
                        </div>
                        <div class="team_name">
                            <h4>Tanisha Trivedi</h4>
                            <p>Developer</p>
                            <p class="mt-20">
                                Be proud of the incredible person that you are... and become a rainbow in someone's cloudy day.
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/tanisha.trivedi.5243"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com/triveditanisha?igshid=1nh6uo7o8u2e0"><i class="fa fa-instagram"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="/static/img/voluteer/shibbu.jpg" alt="">
                        </div>
                        <div class="team_name">
                            <h4>Shibbu Singh</h4>
                            <p>Developer</p>
                            <p class="mt-20">
                                Unleash the potential that is in another and you unleash the potential that is in you
                            </p>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com/singh0303shibbu?igshid=arjztkd2k1rr"><i class="fa fa-instagram"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="/static/img/voluteer/jp.jpg" alt="">
                        </div>
                        <div class="team_name">
                            <h4>Jay Prakash Bind</h4>
                            <p>Developer</p>
                            <p class="mt-20">
                                When you do some good work and if it inspires others, then you have just created the ripple effect.
                            </p>
                            <div class="social">
                                <a href="https://m.facebook.com/jayprakash.bind.184"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/jaypr4/?hl=en"><i class="fa fa-instagram"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="/static/img/voluteer/avinash.jpg" alt="">
                        </div>
                        <div class="team_name"><br>
                            <h4>Avinash Singh</h4>
                            <p>Developer</p>
                            <p class="mt-20">
                                The harder you work for something, the greater you’ll feel when you achieve it.
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/profile.php?id=100007132384595"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/Avinash66461043?s=08" class="active"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com/michael201199?igshid=1g0416faad9fa"><i class="fa fa-instagram"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Team Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area section_gap overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h1>Become a volunteer</h1>
                    <p>
                        Volunteering is a voluntary act of an individual or group freely 
						giving time and labour for community service. Many volunteers are
						 specifically trained in the areas they work, such as medicine, 
						 education, or emergency rescue. Others serve on an as-needed basis, 
						such as in response to a natural disaster
                    </p>
                    <a href="{% url 'login' %}" class="primary_btn yellow_btn rounded">join with us</a>
                </div>
            </div>
        </div>
    </div>
    <!--================ End CTA Area =================-->
        
    <!--================ Start footer Area  =================-->	
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Our Mission</h4>
                            <p>
                                This application acts as a bridge between Donors and NGOs,
                                 it helps the donor to donate unused medicines to NGOs and 
                                 further, these medicines are utilized by a needy person. 
                                 At this platform, NGOs can easily find their required donor 
                                 in just a few clicks.
                                 They can easily contact each other.
                            </p>
                            
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Quick Links</h4>
                            <ul class="list">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About</a></li>
                               <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Contact Us</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                  India
                                </p>
                                <p>Jhansi</p>
    
                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Phone Number
                                </p>
                                <p>
                                   +91 8543928256
                                </p>
    
                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    avinash201199@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </footer>
    <!--================ End footer Area  =================-->  
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/popper.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/js/mail-script.js"></script>
        <!-- contact js -->
        <script src="/static/js/jquery.form.js"></script>
        <script src="/static/js/jquery.validate.min.js"></script>
        <script src="/static/js/contact.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="/static/js/gmaps.min.js"></script>
        <script src="/static/js/theme.js"></script>
    </body>
</html>