<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medicine Donation Form </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/profile/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="/static/profile/images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                    {% csrf_token %}
                        <h2 class="form-title">FILL THE DETAILS OF MEDICINE</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="medicinename" id="medicinename" placeholder="Medicine Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="companyname" id="companyname" placeholder="Company Name"/>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-input" name="manufacturing" id="manufacturing" placeholder="Manufacturing Date"/>
                            
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-input" name="expiry" id="expiry" placeholder="Expiry Date" />
                        </div>
                        <div class="form-group">
                            <input type="number" name="tablets" id="tablets" class="form-input" placeholder="Number of Tablets" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->

</body>
</html>