<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NGO Details </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/profile/css/style.css">
    
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="/static/profile/images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">NGO's Profile Page</h2>
                        <div class="form-group">
                          
                                    <label for="" class="Title">Name of the NGO :</label>
                               
                               
                                    <label for="" class="Value">Mother Teresa</label>
                                
                        </div>
                        <div class="form-group">
                            <label for="" class="Title">Address :</label>
                               
                               
                            <label for="" class="Value1">120/11 b-block,Kidwai Nagar</label>    </div>
                        <div class="form-group">
                            <label for="" class="Title">City :</label>
                            <label for="" class="Value2">Agra</label>
                        </div>
                        <div class="form-group">
                            <label for="" class="Title">State :</label>
                            <label for="" class="Value3">Uttar Pradesh</label> </div>
                        <div class="form-group">
                            
                            <label for="" class="Title">Mobile Number :</label>
                            <label for="" class="Value4">9876543210</label>
                        </div>
                        <div class="form-group">
                            <label for="" class="Title">Authorized By :</label>
                            <label for="" class="Value5">XYZ Yojna</label>
                        </div>
                        <div class="form-group">
                            <label for="" class="Title">Registration Number :</label>
                            <label for="" class="Value6">UPMOTTERAGR123</label>
                        </div>
                        
                        
                    </form>
                    
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    
   
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>